/tugas 2/array1dstring/nbproject/private/
/tugas 2/array1dstring/build/
/tugas 2/ArrayRandom/nbproject/private/
/tugas 2/ArrayRandom/build/
/tugas 2/array2dstring/nbproject/private/
/tugas 2/array2dstring/build/
/tugas 2/SintaksD/nbproject/private/
/tugas 2/SintaksD/build/
/tugas 2/SintaksEswitchcase/nbproject/private/
/tugas 2/SintaksEswitchcase/build/
/tugas 3/5a/nbproject/private/
/tugas 3/5a/build/
/tugas 3/5b/nbproject/private/
/tugas 3/5b/build/
/tugas 3/5c/nbproject/private/
/tugas 3/5c/build/
/tugas 3/5bPerkalian/nbproject/private/
/tugas 3/5bPerkalian/build/
/tugas 5/BinaryTree/nbproject/private/
/tugas 5/BinaryTree/build/
/tugas 5/Graph/nbproject/private/
/tugas 5/Graph/build/
/tugas 6/BubbleSort/nbproject/private/
/tugas 6/BubbleSort/build/
/tugas 7/DrawShapes/nbproject/private/
/tugas 7/DrawShapes/build/
/tugas 7/DynamicDispatch/nbproject/private/
/tugas 7/DynamicDispatch/build/
/tugas 7/Animal/nbproject/private/
/tugas 7/Animal/build/
/tugas 7/TV/nbproject/private/
/tugas 7/TV/build/
/tugas 7/TVModern/nbproject/private/
/tugas 7/TVModern/build/